.infinite-scroll-component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 17px;
  justify-content: center;
  border-left: 1px solid #e7e9e9;
}

.icon-list-spinner{
  width:100%;
  padding-top:30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.no-results{
  display: flex;
  justify-content: center;
  padding-top:30px;
  font-size: 2em;
}
