.icon-search-bar {
  width: 30%;
  padding-top: 30px;
  margin-bottom:40px;
}

.icon-in-list {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: center;
}

.icon-in-list:hover{
  background-color: #f3f3f3;
  cursor:pointer;
  border-radius:5px;
  -webkit-box-shadow: 0px 0px 1px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 1px 1px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 1px 1px #ccc;
}

.icon-in-panel {
  height: 220px;
  width:70%;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  border-style: solid;
  border-width: 1px 1px 1px 1px ;
  border-color: #e7e9e9;
}