.search-bar-row {
  width: 100%;
  display: inline-flex;
}

.icon-list-header{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  margin-right:50px;
}


.icon-search-bar {
  width: 30%;
  padding-top: 30px;
  margin-bottom:40px;
}

.spinner {
  margin-left: 5px;
  align-self: center;
}

.icon-in-list {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
}

.icon-in-list:hover{
  background-color: #f3f3f3;
  cursor:pointer;
  border-radius:5px;
  -webkit-box-shadow: 0px 0px 1px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 1px 1px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 1px 1px #ccc;
}

.icon-in-panel {
  min-height: 220px;
  margin-height:15px;
  width:70%;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  border-style: solid;
  border-width: 1px 1px 1px 1px ;
  border-color: #e7e9e9;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  position: relative;
}

.icon-side-panel-heading{
  width:70%;
  word-break: break-word;
  text-align: center;
}

.pdf-replacement-container{
  width:70%;
  height:70%;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;

}

.textarea--medMeta{
  min-height:100px !important;
}

.skjemaelement__input{
  border: 1px solid #e7e9e9 !important;
}

.seperator{
  margin-top:25px;
  margin-bottom:25px;
  height:1px;
  width:70%;
  border-top: 1px solid #e7e9e9;
}