.side-panel {
  justify-content: center;
}

.spinner {
  background-color: aliceblue;
}

.icon{
  height:70px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}