.svg-url-clipboard-container {
  margin-top: 8px;
  height: 2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.input-base-clipboard,
.input-clipboard {
  width: 100%;
}

.input-base-clipboard .input-clipboard {
  height: 2em;
  border-radius: 5px 0 0 5px;
}

.copy-to-clipboard-button {
  width: 2em;
  height: 2em;
  margin-top: inherit;
  border-radius: 0 5px 5px 0;
  border-color: #e7e9e9;
  background-size: 70%;
  background: #e7e9e9
    url(/nav-frontend-ikoner-backend/api/icons/Line%20Version/SVG/36-text/copy-paste.svg)
    no-repeat center center;
  cursor: pointer;
}

.copy-to-clipboard-button:hover {
  border-color: #0067c5;
  transition: border-color 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.alertstripe--suksess,
.alertstripe {
  margin-top: 6px;
  padding: 0.3rem 1rem;
  width: 9em;
}

.alert-copy-success {
  display: flex;
  justify-content: center;
}
