.icon-in-panel {
  height: 220px;
  margin-height: 15px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  border: 1px solid #b7b1a9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
