.icon-title-container p.textarea--medMeta__teller {
  display: none;
}

.icon-title-container textarea {
  resize: none;
  height: auto;
}

.icon-title-container, .icon-description-container{
  width:70%;
}

.icon-description-container{
  padding-top: 15px;
}

.icon-title{
  width:100%;
  word-break: break-word;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  color: #3e3833;
}