.icon-contrast-ratio-bar-container {
  position: absolute;
  width: 35px;
  height: 10px;
  bottom: 2px;
  right: 6px;
  text-align: center;
}

.icon-contrast-ratio-bar {
  height: 50%;
  width: 100%;
  display: block;
  border-radius: 2px;
}

.icon-contrast-ratio-subtitle {
  font-weight: bold;
  font-size: 14px;
  padding: 2px;
}
