.icon-color-picker-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
}

.icon-color-picker-box {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  border-width: 1px 0px 0px 1px;
  border-style: solid;
  border-color: #e7e9e9;
  width: 50px;
  height: 65px;
  padding: 10px;
}

.icon-color-picker-foreground {
  position: absolute;
  z-index: 2;
  bottom: 30px;
  right: 17px;
}
.icon-color-picker-background {
  position: absolute;
  bottom: 20px;
  right: 7px;
}

.icon-color-picker-foreground,
.icon-color-picker-background {
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  cursor: pointer;
  height: 25px;
  width: 25px;
  border-radius: 2px;
}

.icon-color-picker-cover {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.icon-color-picker-popover {
  position: absolute;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
  border-radius: 4px;
  top: 20px;
}

.twitter-picker {
  width: 100% !important;
  box-shadow: none !important;
}

.icon-color-picker-popover-footer {
  background: white;
  border-radius: 4px;
  padding: 15px;
}
