html,
body,
.root,
.app,
.height {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #3e3833;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  text-align: left;
}

.app-header {
  background-color: #e7e9e9;
  padding: 48px 64px 32px 64px;
  margin: 0px;
  max-width: 100%;
}

.app-title {
  font-size: 2.5rem;
  line-height: 2.75rem;
  margin: 0px;
}

.app-content {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.spinner {
  margin-left: 5px;
  align-self: center;
}

.chrome-picker {
  margin: 15px 2px;
  // Custom class not available
  width: 100% !important;
}

/* Responsive layout */
@responsiveWidth: 700px;
@media screen and (min-width: @responsiveWidth) {
  .affix {
    position: fixed;
    width: inherit;
    height: 100vh;
  }
}

@media screen and (max-width: @responsiveWidth) {
  .column-icon-list {
    order: 2;
    width: 100%;
  }

  .app-content {
    flex-direction: column;
    order: 2;
  }
}
