html,
body,
.root,
.app,
.height {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #3e3833;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  text-align: left;
}

.app-header {
  background-color: #e7e9e9;
  padding: 48px 64px 32px 64px;
  margin: 0px;
  max-width: 100%;
}

.app-title {
  font-size: 2.5rem;
  line-height: 2.75rem;
  margin: 0px;
}

.app-content {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 3px #ffbd66;
  box-shadow: 0 0 0 3px #ffbd66;
}

.spinner {
  margin-left: 5px;
  align-self: center;
}

.textarea--medMeta {
  min-height: 100px !important;
}

.skjemaelement__input {
  border: 1px solid #e7e9e9 !important;
}

.chrome-picker {
  margin: 3px;
}

/* Responsive layout */
@media screen and (max-width: 700px) {
  .column-icon-list {
    order: 2;
    width: 100%;
  }

  .icon-side-panel {
    order: 1;
    width: 100% !important;
  }

  .app-content {
    flex-direction: column;
    order: 2;
  }
}
