body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  text-align: center;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: aliceblue;
  height: 50px;
  padding: 20px;
}

.app-title {
  font-size: 2em;
}

.icon-row {
  display:flex;
  flex-direction:row;
}

.container-search-bar{
  width: 40%;
  margin: auto;
}

.container-icon-list {
  width: 70%;
  margin-left: 30px;
  border-style: solid;
  border-color: aliceblue;
}

.container-side-panel {
  width: 30%;
  margin-right: 30px;
  border-style: solid;
  border-color: aliceblue;

}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
